.card {
  width:70%;
  margin:2em auto;
  padding: 2em;
}
.card h3 {
  color: black;
}

.card > img {
  border-radius: .5em;
}

body {
  background-color: rgb(1, 1, 20);
}

body > h1,h3 {
  color:white;
}

#payment {
  display: none;
}

#receipt {
  display: none;
}